<form class="NotPrintable form-horizontal"  role="form">
{% assign i=0 -%}
  <div class="form-group">
{% for para in  Page.PageParameters -%}
{% if Para.source == 'form' -%}
    <label {% if Para.ShowCond !='' %} ng-show='{{Para.ShowCond}}' {% endif %} for="{{Para.name}}" class="col-sm-{{Page.HerSize}} control-label">     {% for chk in  Para.ParameterChecks -%} {% if chk.Cond == 'Reg' -%}<span class="red" >*</span>  {% endif -%} {% endfor -%}
      {{Para.title}}
      {% for btn in  Para.Buttons -%}
      {% if btn.action == 'goToPage'  -%}
      <a href='#/{{btn.actionParameter}}' >
        <button type="button" class="btn btn-default" >{{btn.title}}</button>
      </a>
      {% endif -%}
      {% if btn.action == 'dynLink'  -%}
      <a href='{{btn.actionParameter}}' >
        <button type="button" class="btn btn-default" >{{btn.title}}</button>
      </a>
      {% endif -%}
      {% if btn.action == 'JavaScript'  -%}
      <a onclick='{{btn.actionParameter}}' >
        <button type="button" class="btn btn-default" >{{btn.title}}</button>
      </a>
      {% endif -%}
      {% if btn.action == 'InsertRecordToTable'  -%}
      <a onclick='{{Page.name}}.InsertRecord()' >
        <button type="button" class="btn btn-default" >{{btn.title}}</button>
      </a>
      {% endif -%}
      {% if btn.action == 'ShowDailogAndPutValue'  -%}
      <a onclick='{{btn.actionParameter}}.Scaler("{{btn.actionParameter2}}");' >
        <button type="button" class="btn btn-default" >{{btn.title}}</button>
      </a>
      {% endif -%}
      {% if btn.action == 'ShowDailogAndSelectValue'  -%}
      <a onclick='{{btn.actionParameter}}.SerachAndPutValue("{{btn.actionParameter2}}","{{btn.actionParameter3}}");' >
        <button type="button" class="btn btn-default" >{{btn.title}}</button>
      </a>
      {% endif -%}
      {% if btn.action == 'BatchCommand'  -%}
      <a onclick='{{Page.name}}.{{btn.actionParameter}}()' >
        <button type="button" class="btn btn-default" >{{btn.title}}</button>
      </a>
      {% endif -%}
      {% if btn.action == 'ShowDailogAndSelectValueSelect2'  -%}
      <a onclick='{{btn.actionParameter}}.SerachAndPutValueSelect2Ajax("{{btn.actionParameter2}}","{{btn.actionParameter3}}");' >
        <button type="button" class="btn btn-default" >{{btn.title}}</button>
      </a>
      {% endif -%}
      {% if btn.action == 'ExportXls'  -%}
      <a onclick='ExportXls();' >
        <button type="button" class="btn btn-default" >{{btn.title}}</button>
      </a>
      {% endif -%}
      {% endfor -%}
:</label>
    <div  {% if Para.ShowCond !='' %} ng-show='{{Para.ShowCond}}' {% endif %} class="col-sm-{{Page.ValSize}}">
   
      {% if Para.type == 'String' -%}
      <input type="text"   class="form-control" id="txt{{Page.name}}{{Para.name}}" placeholder="{{Para.PlaceHolder}}"  {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%} placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}

      {% if Para.type == 'Color' -%}
      <input type="text"   class="form-control white_shadow" id="txt{{Page.name}}{{Para.name}}" placeholder="{{Para.PlaceHolder}}" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%} placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'Html' -%}
      <textarea      class="form-control" id="txt{{Page.name}}{{Para.name}}" placeholder="{{Para.PlaceHolder}}" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%} />
      {% endif -%}
      {% if Para.type == 'Integer' -%}
      <input type="Number" onkeypress="return blockNonIntNumber(event)" placeholder="{{Para.PlaceHolder}}" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%} class="form-control" id="txt{{Page.name}}{{Para.name}}" placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'Float' -%}
      <input type="Number"  placeholder="{{Para.PlaceHolder}}"  class="form-control" id="txt{{Page.name}}{{Para.name}}" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%} placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'Password' -%}
      <input type="Password"    class="form-control" id="txt{{Page.name}}{{Para.name}}" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%} placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'CheckBox' -%}
      <input type="CheckBox"  placeholder="{{Para.PlaceHolder}}"   id="txt{{Page.name}}{{Para.name}}" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%} placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'Time' -%}
      <input type="Text"  maxlength="8" placeholder="{{Para.PlaceHolder}}"  onkeypress="return blockNonTimeNumber(event)" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%}  class="form-control" id="txt{{Page.name}}{{Para.name}}" placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'Money' -%}
      <input type="Text"  onkeypress="return blockNonIntNumber(event)" placeholder="{{Para.PlaceHolder}}" moneytype="yes"  onkeyup="NumberInput(event,this)" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%}   class="form-control" id="txt{{Page.name}}{{Para.name}}" placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'DisplayExpr' -%}
      <input type="Text"  onkeypress="return blockNonIntNumber(event)"   placeholder="{{Para.PlaceHolder}}"  disabled='' value="{{'{{'}}{{Para.Parameter}}{{'}}}}"   class="form-control" id="txt{{Page.name}}{{Para.name}}" placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'DisplayExprMoney' -%}
      <input type="Text"  onkeypress="return blockNonIntNumber(event)" moneymode="yes"  placeholder="{{Para.PlaceHolder}}"  disabled='' value="{{'{{ShowMoney('}}{{Para.Parameter}}{{'}})}}"   class="form-control" id="txt{{Page.name}}{{Para.name}}" placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'FileInput' -%}
      <input type="file"       class="form-control" id="txt{{Page.name}}{{Para.name}}"     placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'ImageView' -%}
      <input type="image"    linkSyntax="{{Para.LinkSyntax}}"    id="txt{{Page.name}}{{Para.name}}"  {% if="" Para.Width != '' -%}width='{{Para.Width}}'   {% endif -%}   placeholder="{{Para.PlaceHolder}}" />
      {% endif -%}
      {% if Para.type == 'DownloadLink' -%}
      <a      linkSyntax="{{Para.LinkSyntax}}"    id="txt{{Page.name}}{{Para.name}}"     placeholder="{{Para.PlaceHolder}}" >دریافت</a>
      {% endif -%}
      {% if Para.type == 'DropDown' -%}
      <select class="form-control" id="txt{{Page.name}}{{Para.name}}" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%} >
        {% for var opt in Para.options -%}
        <option value="{{opt.value}}">{{opt.text}}</option>
        {% endfor -%}
      </select>
      {% endif -%}
      {% if Para.type == 'Select2' or Para.type == 'Select2Mulit' -%}
      <select class="form-control" id="txt{{Page.name}}{{Para.name}}" {% if Para.type == 'Select2Mulit' -%} multiple="multiple" {% endif -%} {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%}  >
        {% for var opt in Para.options -%}
        <option value="{{opt.value}}">{{opt.text}}</option>
        {% endfor -%}
      </select>
      {% endif -%}
      {% if Para.type == 'Select2Ajax'  or Para.type == 'Select2AjaxMulti' -%}
      <select class="form-control" id="txt{{Page.name}}{{Para.name}}" {% if Para.type == 'Select2AjaxMulti' -%} multiple="multiple" {% endif -%} {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%}  onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%} ></select>
      {% endif -%}
      {% if Para.type == 'TextArea' -%}
      <TextArea class="form-control" id="txt{{Page.name}}{{Para.name}}" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%}></TextArea>
      {% endif -%}
      {% if Para.type == 'Date' -%}
      <input  type="text"  onkeypress="return blockNonDateNumber(event)" {% if  Para.Disabled == 'Yes'  -%} disabled='' {% endif -%}  {% if  Para.ChangeBev == 'ReCalcExprs'  -%} onchange='RecalcScopes();' {% endif -%}{% if  Para.ChangeBev == 'JavaScript'  -%} onchange='{{Para.ChangeBevParameter}}' {% endif -%} onBlur="ReformatDate('txt{{Page.name}}{{Para.name}}')"  class="form-control" id="txt{{Page.name}}{{Para.name}}" placeholder="yyyy/mm/dd" max-length="10" ></input>
      {% endif -%}
    
    </div>
{% assign i = i | plus: 1 -%}
{% if i == Page.ColumnCount -%}
     </div>
     <div class="form-group">
{% assign i = 0 -%}
{% endif -%}
{% endif -%}
{% endfor -%}
  </div>
  {% for No in  Page.Notes -%}
  {{No.Text}} <br/>
  {% endfor -%}
  </from>
  <script>
    {% for para in  Page.PageParameters -%}
    {% if Para.type == 'Select2Ajax' -%}
    var {{Para.name}} =null;
    {% endif -%}
    {% endfor  -%}

    {{Page.name}}.IntForm=function()
    {
    {% if Page.isDailog !='Yes' -%}
    document.title='{{Page.title}}';
    {% endif -%}
    window.pageName='{{Page.name}}';
    window.fileUploaded=false;
    {% for para in  Page.PageParameters -%}
    {% if Para.type == 'Select2' or Para.type == 'Select2Mulit' -%}
    $('#txt{{Page.name}}{{Para.name}}').select2({});
    {% endif -%}
    {% if Para.type == 'Select2Ajax' or Para.type == 'Select2AjaxMulti'  -%}

    {{Para.name}}=  Select2AjaxInit('txt{{Page.name}}{{Para.name}}',function(term, page){
    var DataPass=new Object();
    DataPass.PageName='{{Page.Name}}';
    DataPass.ParaName='{{Para.name}}';
    DataPass.Parameters=new Array();
    {% for Sel2 in Para.DBSelectCommandParameters -%}
    {% if (Sel2.source == 'term' ) -%}
    DataPass.Parameters.push(toInput('{{Sel2.name}}',term.term));
    {% endif -%}
    {% if (Sel2.source == 'Expr' ) -%}
    DataPass.Parameters.push(toInput('{{Sel2.name}}',{{Sel2.Parameter}}));
    {% endif -%}
    {% if (Sel2.source == 'QueryString' ) -%}
    DataPass.Parameters.push(toInput('{{Sel2.name}}',routeParams.{{Sel2.Parameter}}));
    {% endif -%}
    {% endfor -%}
    return JSON.stringify(DataPass);
    });
    {% if Para.DBSelect2CommandDriectValue != '' -%}
    {{Para.name}}.Set_Direct=function(val){
    Select2AjaxDirect('{{Page.Name}}','{{para.Name}}',val,'txt{{Page.name}}{{para.Name}}');

    };
    {% endif -%}
    {% endif -%}
    {% if Para.type == 'Date' and Para.Disabled != 'Yes' -%}
    kamaDatepicker('txt{{Page.name}}{{Para.name}}', { buttonsColor: "red" ,sync:'true',highlightSelectedDay:'true'});
    {% endif -%}
    {% if Para.type == 'Html' -%}
    TinyMceEditor('txt{{Page.name}}{{Para.name}}');
    {% endif -%}
    {% if Para.type == 'Color' -%}
    $('#txt{{Page.name}}{{Para.name}}').ColorPicker({
    color: $('#txt{{Page.name}}{{Para.name}}').val(),
    onShow: function (colpkr) {
    $(colpkr).fadeIn(500);
    return false;
    },
    onHide: function (colpkr) {
    $(colpkr).fadeOut(500);
    return false;
    },
    onChange: function (hsb, hex, rgb) {
    $('#txt{{Page.name}}{{Para.name}}').css('backgroundColor', '#' + hex);
    $('#txt{{Page.name}}{{Para.name}}').val('#' + hex);
    }
    });
    {% endif -%}
    {% endfor -%}

    }
    $(document).ready(function () {
    {{Page.name}}.IntForm();
    {% if Page.ValueDbCommand != '' -%}
    {{Page.name}}.InitStartValues();
    {% endif -%}
    {{Page.JSStart}}
    });
  </script>